.posts {
    list-style: none;
    padding: 0px;
}
  
.li {
    border-color: rgba(229,229,229,1);
    padding-top: 3rem;
    padding-bottom: 3rem;  
    border-top: 1px solid rgb(229,229,229);
    border-bottom: 1px solid rgb(229,229,229);
}

.title {
    margin-bottom: 0.3em;
    margin-top: 0em;
}

.description {
    color: rgb(115,115,115);
}